doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',href="https://githob.com/google/traceur-compiler")
    script(type='text/javascript').
      function* fibs(){
        var a =0;
        var b=1;
        while(true){
          yield a;
          [a,b]=[b,a+b];
        }
      }
      var [first,second,third,fourth,fifth,sixth]=fibs();
      sixth;
      var map=new Map();
      map.set("first","1");
  body
    block content
