<!DOCTYPE html>
<html>
  <head>
    <title>It's title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
      这是母版
      <%-body -%>
    </section>
  </body>
</html>